<ion-view title="Rate It" ng-controller="RatingCtrl as ratingCtrl">
  <ion-content>
    <ion-list>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="searchQuery" placeholder="Search place">
        </label>
        <button class="button button-small button-clear" ng-click="ratingCtrl.searchPlaces(searchQuery)">
          Search
        </button>
      </div>
      <ion-item ng-repeat="place in ratingCtrl.predictions" class="long">
        {{place.description}}
      </ion-item>
    </ion-list>
    <div class="padding">
      <h2>ENVIRONMENT</h2>
    </div>
    <div class="list">
      <div class="item item-divider rating-group">
        External
      </div>
      <div class="item rating-desc">
        Location
        <span class="badge badge-assertive">{{value}}</span>
      </div>
      <div class="item range range-positive rating-score">
        <input type="range" name="volume" min="3" max="7" ng-model="value">
      </div>
      <div class="item rating-desc">
        Parking
        <span class="badge badge-assertive">{{value2}}</span>
      </div>
      <div class="item range range-positive rating-score">
        <input type="range" name="volume" min="3" max="7" ng-model="value2">
      </div>
    </div>
  </ion-content>
</ion-view>
