<ion-view title="Rate It" ng-controller="RatingCtrl as ratingCtrl">
  <ion-content>
    <div class="padding">
      <h3>{{ratingCtrl.place.description}}</h3>
    </div>
    <div ng-repeat="category in ratingCtrl.categories track by $index">
      <div class="card">
        <div class="item item-divider category-name">
          {{category.name}}
        </div>
        <div ng-repeat="section in category.sections">
          <div class="item item-divider rating-group">
            {{section.sectionName}}
          </div>
          <div class="item item-text-wrap" ng-repeat="metric in section.metrics"
            ng-init="metric.value = metric.scores[1].value">
            <div>
              {{metric.name}}
              <span class="badge badge-assertive">{{metric.value}}</span>
            </div>
            <div class="slider-wrap">
              <div slider ng-model="metric.value" 
                start="{{metric.scores[0].value}}" end="{{metric.scores[1].value}}"></div>
            </div>
            <div class="row slider-label">
              <div class="col">{{metric.scores[0].description}}</div>
              <div class="col align-right">{{metric.scores[1].description}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="padding">
      <button ng-disabled="ratingCtrl.ratingComplete" ng-click="ratingCtrl.submitRating(app.user)"
        class="button button-assertive button-block">
        Send Rating
      </button>
    </div>
  </ion-content>
</ion-view>
