/* Scss Document */

.item.rating-desc {
    border-bottom: none;
}
.item.rating-score {
    border-top: none;
}
.item.long {
    white-space: normal;
}
.slider-wrap {
    width: 92%;
    padding-left: 4%;
    margin-bottom: 5px;
    margin-top: 20px;
}
.slider-label {
    font-size: 12px;
}
.align-right {
    text-align: right;
}
.category-name {
    font-size: 20px;
    padding: 20px 10px;
    background: #E44646;
    color: #FFF;
}
.google-search {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png) no-repeat 100% 100%;
}
