/* Scss Document */

.item.rating-desc {
    border-bottom: none;
}
.item.rating-score {
    border-top: none;
}
.item.long {
    white-space: normal;
}
.slider-wrap {
    width: 92%;
    padding-left: 4%;
    margin-bottom: 5px;
    margin-top: 20px;
}
.slider-label {
    font-size: 12px;
}
.align-right {
    text-align: right;
}
.category-name {
    font-size: 20px;
    padding: 20px 10px;
    background: #E44646;
    color: #FFF;
}
