<ion-view title="History">
    <ion-content>
        <div class="card">
            <div class="item item-divider item-text-wrap">
                Fat Cow Burgers & Salads
            </div>
            <div class="item item-text-wrap">
                <div>
                    ENVIRONMENT
                    <span class="badge badge-assertive">3/5</span>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div>
                    BURGER
                    <span class="badge badge-assertive">3/5</span>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div>
                    ACCOMPANYING
                    <span class="badge badge-assertive">3/5</span>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div>
                    SERVICE
                    <span class="badge badge-assertive">3/5</span>
                </div>
            </div>
        </div>
        <div class="padding"></div>
    </ion-content>
</ion-view>
