<ion-view title="Rate It">
  <ion-content>
    <div class="padding">
      <h2>ENVIRONMENT</h2>
    </div>
    <div class="list">
      <div class="item item-divider rating-group">
        External
      </div>
      <div class="item rating-desc">
        Location
        <span class="badge badge-assertive">{{value}}</span>
      </div>
      <div class="item range range-positive rating-score">
        <input type="range" name="volume" min="3" max="7" ng-model="value">
      </div>
      <div class="item rating-desc">
        Parking
        <span class="badge badge-assertive">{{value2}}</span>
      </div>
      <div class="item range range-positive rating-score">
        <input type="range" name="volume" min="3" max="7" ng-model="value2">
      </div>
    </div>
  </ion-content>
</ion-view>
