.item.rating-desc {
    border-bottom: none;
}
.item.rating-score {
    border-top: none;
}
.item.long {
    white-space: normal;
}
.slider-wrap {
    width: 92%;
    padding-left: 4%;
    margin-bottom: 5px;
    margin-top: 20px;
}
